[Unit]
Description=Effect Runner for LED Table
After=network.target

[Service]
ExecStart=/home/tcledtable/projects/py_tc_led_table/.venv/bin/python src/runner/manage_effects.py
WorkingDirectory=/home/tcledtable/projects/py_tc_led_table
User=tcledtable
Group=tcledtable
Environment=PYTHONUNBUFFERED=1
ExecStop=/bin/kill -SIGINT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
