<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LED Table Control</title>
  <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script-->
<link rel="stylesheet" href="/static/shoelace/themes/light.css" />
<script type="module" src="/static/shoelace/shoelace.js"></script>
</head>
<body>
  <sl-select id="app-select" placeholder="Choose an app"></sl-select>
  <div id="param-controls" style="margin-top: 1em;"></div>
  <sl-button id="start-button">Start</sl-button>
  <sl-button id="stop-button" variant="danger">Stop</sl-button>


  <hr style="margin: 2em 0;" />
  <h3>Service Control</h3>
  <div id="service-list" style="display: flex; flex-direction: column; gap: 1em;"></div>

  
  <script type="module" src="/static/main.js"></script>
</body>
</html>
